.container {
  background-color: #90e0ef;
    color: aliceblue;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(11,60px);
    row-gap: .5em;
    place-content: center;
}


.blockContainer {
    display: grid;
    grid-template-columns: repeat(10,60px);
    column-gap: .5em;
}
.block {
    background-color: #00b4d8;
    color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.selected {
    background-color: #caf0f8;
}
.text {
    display: flex;
    justify-content: space-between;
    color: #03045e;
    font-size: 1.4em;
}

@media screen and (max-width:1600px) {
    .container {
        grid-template-rows: repeat(11,50px);
    }
    .blockContainer {
        grid-template-columns: repeat(10,50px);
    }
}
@media screen and (max-width:1024px) {
    .container {
        grid-template-rows: repeat(11,40px);
    }
    .blockContainer {
        grid-template-columns: repeat(10,40px);
    }
}
@media screen and (max-width:768px) {
    .container {
        grid-template-rows: repeat(11,33px);
    }
    .blockContainer {
        grid-template-columns: repeat(10,33px);
    }
    .block {
        font-size: 1.4em;
    }
}
@media screen and (max-width:480px) {
    .container {
        grid-template-rows: repeat(11,23px);
    }
    .blockContainer {
        grid-template-columns: repeat(10,23px);
    }
    .block {
        font-size: 1em;
    }
    .text {
        font-size: 1.2em;
    }
}